In [1]:
import pandas as pd
import numpy as np
import random
from scipy.stats import norm

#### Generate uniqueID for each patient

In [2]:
def generate_PatientID (startIdx, endIdx, size):
    return random.sample(range(startIdx, endIdx), size)

#### Generate random no 0, 1, and assign 0 as Male, 1 as female

In [64]:
def generate_Sex( ss):
    randomNo= np.random.randint(2, size=ss)
    return ['Female' if x != 0 else 'Male' for x in randomNo]

#### Generate Age, weight for patients

In [92]:
#Age to be seperately generated for children = 30%, adults = 50%, senior citizens = 20%
def gen_dist(maxVal, probability, ss, ssRatio):
    return np.random.binomial(n=int(maxVal), p=probability, size =int(ss*ssRatio))

def generate_Table1(maxAge, ss, maxHeight, maxWeight, noise):
    ## todo - add outliers for each category
    age=[]
    age.append(gen_dist(maxAge, 0.007,ss, 0.05 )) #infant
    age.append(gen_dist(maxAge, 0.1,ss, 0.25 )) #children
    age.append(gen_dist(maxAge, 0.3,ss, 0.5 )) #adults
    age.append(gen_dist(maxAge, 0.6,ss, 0.15 )) #senior citizen
    age.append(gen_dist(maxAge, 0.8,ss, 0.05 )) # ss citizen
    
    weight=[]
    weight.append(gen_dist(maxAge, 0.005,ss, 0.05 )) #infant
    weight.append(gen_dist(maxAge, 0.2,ss, 0.25 )) #children
    weight.append(gen_dist(maxAge, 0.5,ss, 0.5 )) #adults
    weight.append(gen_dist(maxAge, 0.6,ss, 0.15 )) #senior citizen
    weight.append(gen_dist(maxAge, 0.6,ss, 0.05 )) # ss citizen
    
    height=[]
    height.append(gen_dist(maxHeight, 0.21,ss, 0.05 )) #infant
    height.append(gen_dist(maxHeight, 0.5,ss, 0.25 )) #children
    height.append(gen_dist(maxHeight, 0.7,ss, 0.5 )) #adults
    height.append(gen_dist(maxHeight, 0.6,ss, 0.15 )) #senior citizen
    height.append(gen_dist(maxHeight, 0.7,ss, 0.05 )) # ss citizen
    
    idx = generate_PatientID(ss, 5*ss, ss)
    sex = generate_Sex(ss)
    
   
    tableData = np.transpose([sex,np.concatenate(age, axis=None), np.concatenate(weight, axis=None), np.concatenate(height, axis=None)])
    names = ['sex','age', 'weight', 'height']
    df = pd.DataFrame(tableData, index=idx, columns=names)
   
    return df

In [104]:
td1 = generate_Table1(100,
                    200, 180, 100, 100)
td1.describe()

         sex  age weight height
count    200  200    200    200
unique     2   59     48     66
top     Male   29     46    130
freq     105   13     12      9

#### generate data for table 2
columns in table 2 - PID, sex, pregnancies

In [151]:
def generate_Sex( ss):
    randomNo= np.random.randint(2, size=ss)
    return ['Female' if x != 0 else 'Male' for x in randomNo]
   
def generate_Table2(maxPreg, ss, noise):
    ## todo - add outliers for each category
    preg=[]
    preg.append(gen_dist(maxPreg, 0.0,ss, 0.05 )) #infant
    preg.append(gen_dist(maxPreg, 0.05,ss, 0.25 )) #children
    preg.append(gen_dist(maxPreg, 0.4,ss, 0.5 )) #adults
    preg.append(gen_dist(maxPreg, 0.05,ss, 0.15 )) #senior citizen
    preg.append(gen_dist(maxPreg, 0.0,ss, 0.05 )) # ss citizen
    sex = generate_Sex(ss)
#     preg = [x for x in zip(preg, sex) if x[1] is'Female' else 0]
    tableData = np.transpose([sex,np.concatenate(preg, axis=None)])
#     print(tableData)
    names = ['sex','pregnancies']
    idx = generate_PatientID(ss, 5*ss, ss)
    df = pd.DataFrame(tableData, index=idx, columns=names)
    
    return df

In [153]:
td2 = generate_Table2(3, 100, 0)
td2.describe()

         sex pregnancies
count    100         100
unique     2           4
top     Male           0
freq      50          54